.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__cell {
  box-sizing: border-box;
  padding: var(--gutter-extra-small);
  flex-basis: 100%;
}

.grid__cell figure {
  position: relative;
  background: #000000;
}

.grid__cell figcaption {
  font-family: var(--font-poppins);
  color: var(--color-white);
  padding: 0 0 var(--gutter-small) var(--gutter-small);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.grid__cell figcaption h4,
.grid__cell figcaption p {
  margin-bottom: 0;
}

.grid__image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: var(--aspect-ratio-percent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.noResults {
  width: 100%;
  background: #000;
  border-radius: var(--border-radius);
}

.noResults__image {
  width: 100%;
  height: 300px;
  max-height: 100%;
  border-radius: var(--border-radius);
}

.noResults p {
  color: var(--color-white);
  font-family: var(--font-poppins);
  padding: var(--gutter-small);
  text-align: center;
}

/* tablets and large phones */
@media screen and (min-width: 500px) {
  .grid__cell {
    flex-basis: 50%;
  }
}

/* larger tablets / desktop */
@media screen and (min-width: 800px) {
  .noResults__image {
    height: 460px;
  }

  .grid__cell {
    flex-basis: 33.333333333%;
  }
}
