.logo {
  display: block;
  background-image: url('https://hensonism.s3-us-west-2.amazonaws.com/code/mars-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin: 0 0 var(--gutter-small);
}
